{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'main/css/h1.css' %}">
    <title>Title</title>
</head>
<!--<style>-->
<!--    h1 {-->
<!--    color: blue;-->
<!--    font-size: 3ren;-->

<!--    }-->

<!--</style>-->
<body>
    <div>
        <h3>Hjhhhhhj</h3>
        <h2>Kuuu</h2>
        <h1 id="heating" >Hello</h1>
        <h1 style="color:red">Hello</h1>
        <h1 class="green" >Hello</h1>
         <h1>Hello</h1>
    </div>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut aliquip <span>ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
            esse cillum dolore eu fugiat nulla pariatur</span>. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</body>
</html>