{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

     <title>Главная страница</title>-->
</head>
<body>
    <h1>Hello my name is Piska</h1>
    <h1>Hello my name is Piska</h1>
    <img src="{% static 'main/img/pn.jpg' %}" width="500" alt="logo">
    <h2>h1</h2>
    <h3>h1</h3>
    <h4>h1</h4>
    <h5>h1</h5>
    <h6>h1</h6>
    <h1>Lore</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 id="top">top of the</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <a href="https://www.youtube.com/watch?v=CvEttNvty0U" taeegt="_blank">Cerf</a>
     <br>
    <br>

    <a href="about">About</a>
    <br>
    <br>
    <br>
    <br>
      <br>
    <br>
    <br>
      <br>
    <br>
    <br>
      <br>
    <br>
    <br>
    <a href="#top">Top of</a>
    <p>Loremdvvdsvsdvsdvsdvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvsdvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv<wbr>vvvvvvvvvvvvvv</p>
</body>
</html>