<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Hello i'm <sup>1st</sup>Koll<sub>Kranch</sub></h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do <strong>eiusmod tempor
    incididunt</strong> ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse
    <em>
        cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident
    </em>,
    sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<h1>copiright &copy;</h1>
        <ul>
            <li><a href="about2">Top of</a></li>
            <li><a href="about">Top of</a></li>
            <li><a href="#">Top of</a></li>
        </ul>
        <ol>
            <li><a href="about2">Kuz</a></li>
            <li><a href="about">Awe</a></li>
            <li><a href="#">Rt</a></li>
        </ol>
        <table>
            <tr>
            <td><a href="about2">Some info</a></td>
            <td><a href="about">Some info</a></td>
            <td><a href="#">Some info</a></td>

            </tr>
        <tr>
            <td><a href="about2">Kuz</a></td>
            <td><a href="about">Awe</a></td>
            <td><a href="#">Rt</a></td>
        </tr>
            </table>
        <br>
<br>
<br>
<br>
        <form action="" method="">
            <label for='name'>First name</label>
            <input type="text" name="name" id="name">
            <br>
            <p>Password</p>
            <input type="email" placeholder="password">
            <input type="email" value="password">
            <br>
            <br>
            <textarea name="" id="" cols="10" rows="10"></textarea>
            <br>
            <input type="submit">
            <button type="submit">submit</button>
            <br>
            <br>
            <br>
            <input type="radio" name="codin" id="" value="ja">Javascript
            <input type="radio" name="coding" id="">Java
            <input type="radio" name="coding" id="">JPython
            <br>
            <br>
            <br>
            <select name="language" id="">
                <option value="javascript">Java</option>

            </select>

        </form>
</body>
</html>
