{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
</head>
<body>
    <h1>Hello my name is Piska</h1>
    <img src="{% static 'main/img/coffe.png' %}" alt="logo">
        <ul>
            <li><a href="about2">Top of</a></li>
            <li><a href="about">Top of</a></li>
            <li><a href="#">Top of</a></li>
        </ul>
    <img src="{% static 'main/img/pexel.jpg' %}" alt="coffee beams">
    <br>
    <h1>Featured products</h1>
    <br>
    <p style="width:50%">
        Lorem Ipsum Generator
    List of MIME types
    HTML Entities
    Url Parser / Query String Splitter
    i18n - Formatting standards & code snippets
    ISO country list - HTML select snippet
    USA state list - HTML select snippet
    Canada province list - HTML select snippet
    Mexico state list - HTML select snippet
    Time zone list - HTML select snippet

    </p>

    <table style="border:2px solid black; border-spacing:25px">
    <tr>
        <th>City</th>
        <th>Chicag</th>
        <th>City</th>
    </tr>
        <tr>
        <td>City</td>
        <td>Chicag</td>
        <td>City</td>
    </tr>

    </table>


    <form action="">
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
    <br>
        <br>

        <label for="email">Email</label>
        <input type="text" name="email" id="email">
    </form>
</body>
</html>