{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'main/css/h4.css' %}">
    <title>Title</title>
</head>
<body>
<div>
<p class="one"> Lorem ipsum fusce pharetra maecenas tempus, mattis risus justo pharetra</p>

<p class="two"> Lorem ipsum fusce pharetra maecenas tempus, mattis risus justo pharetra</p>
<p class="three"> Lorem <span class="special">ipsum fusce </span>pharetra maecenas tempus, mattis risus justo pharetra</p>
</div>


</body>
</html>