{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'main/css/h6.css' %}">
    <title>Title</title>
</head>
<body>
<img src="{% static 'main/img/coffe.png' %}" class="one" alt="nice view">
<img src="{% static 'main/img/coffe.png' %}" class="two" alt="nice view">
<img src="{% static 'main/img/coffe.png' %}" class="three" alt="nice view">
</body>
</html>