{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'main/css/h10.css' %}">
    <script src="https://kit.fontawesome.com/e466913934.js" crossorigin="anonymous"></script>
    <title>Title</title>
</head>
<body>
 <i class="fas fa-home"></i>
<h1 class="heading">main heading</h1>

div>ul
   

<p class="text">Lorem ipsum fusce pharetra maecenas tempus, mattis risus justo pharetra, s
    apien amet diam et massa, enim porttitor, malesuada elementum duis. Ut porta adipiscing:
    mauris integer nam rutrum sed ligula duis congue adipiscing nam metus, ut.
    Tempus  mauris duis nec cursus urna porta mauris ipsum pharetra adipiscing
    commodo diam. Cursus porta sem nibh, maecenas mauris vivamus elementum bibendum maecenas.
    Ipsum ornare, bibendum arcu congue auctor, ut et quisque, orci ipsum commodo donec, metus,
    tellus ligula mauris et duis. Ligula mattis auctor bibendum vivamus pharetra, arcu porta eu
    sodales urna lorem porta magna nibh porttitor non et nec nam magna morbi maecenas. Amet donec
    quam sodales mauris nec nam commodo nulla tempus, bibendum sit ut ipsum cursus.</p>

<div class="main">
    <p class="main-text">
        empus  mauris duis nec cursus urna porta mauris ipsum pharetra adipiscing
    commodo diam. Cursus porta sem nibh, maecenas mauris vivamus elementum bibendum maecenas.
    Ipsum ornare, bibendum arcu congue auctor, ut et quisque, orci ipsum commodo donec, metus,
    tellus ligula mauris et duis. Ligula mattis auctor bibendum vivamus pharetra, arcu porta eu
    sodales urna lorem porta magna nibh porttitor non et nec nam magna morbi maecenas. Amet donec
    quam sodales mauris nec nam commodo nulla tempus, bibendum sit ut ipsum cursus.
    </p>
    </div>
    <h3 class="second-heading">anoter heading</h3>
    <h3 class="third-heading">anoter heading</h3>

</body>
</html>