{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'main/css/h7.css' %}">
    <title>Title</title>
</head>
<body>
<p> After today
</p>

<!--<img src="{% static 'main/img/coffe.png' %}" class="one" alt="nice view">-->
<div class="one">
</div>
<!--
<p class="one"> Lorem ipsum fusce pharetra maecenas tempus, mattis risus justo pharetra</p>

<a href="https://stackoverflow.com/"> Genreal</a>
-->
</body>

</html>